.user-content__container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info-btn-container{
    width: 50%;
    display:flex;
    gap: 4vw;
}

.user-placeholder-container{
    width: 50%;
    min-width: 50%;
    height: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center; 
    align-items: center
}

.user-info-btn-container > * {
    flex: 1;
}
