.project-form__container{
    width: 80%;
    min-width: 50%;
    height: auto;
    gap: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

.form-project-input-container-left,
.form-project-input-container-right{
    width: 100%;
    max-width: 100%;
    font-weight: var(--font-small-weight);
}

.form-project-input-container-bottom {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-project-input-container{
    width: 100%;
    max-width: 100%;
    font-weight: var(--font-small-weight);
}

.error-text{
    margin-top: 8px;
    color: var(--red-color);
    font-size: calc(var(--font-third-size) - 2px);
}