.DS_Store
__pycache__/
*.py[cod]
*.so
*.log
.Python
.venv
env/
venv/
ENV/
build/
dist/
htmlcov/
.coverage
.coverage.*
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/
*.egg-info/
pip-wheel-metadata/
*.egg
*.manifest
*.spec
.ipynb_checkpoints
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
