.my-user-modal-backdrop{
    background-color: rgba(14, 62, 160, 0.3);
}

.my-user-modal{
    width:65%;
    min-width: 55%;
    height: 100%;
    min-height: 100%;
    margin:auto;
}

.my-user-modal-content{
    height: auto;
    min-height: 75%;
}
