.top-navbar {
    display: flex;
    align-items: end;
    justify-content: space-between;
    background-color: var(--background-color);
    height: 6vh;
    padding: 2vh 2vw 0vh 2vw;
    top: 0;
    z-index: 100;
    position: relative;
}

.top-navbar__left {
    padding: 0;
    max-width: 100px;
}

.top-navbar__logo {
    width: 100%;
    height: 4vh;
}

.top-navbar__right {
    display: flex;
    align-items: end;
    gap: 12px;
}

.top-navbar__btn {
    cursor: pointer;
    transition: all 0.5s ease;
    height: 4vh;
}

.top-navbar__btn:hover {
    border: var(--red-border)
}

.top-navbar__btn--login {
    background-color: transparent;
    color: var(--white-color);
    border: var(--white-border);
}

.top-navbar__btn--register {
    background-color: var(--red-color);
    color: var(--white-color);
    border: var(--red-border);
}

.top-navbar__btn--register:hover {
    background-color: transparent;
}

.top-navbar__center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: end;
}

.top-navbar__btn--upload {
    background-color: var(--red-color);
    color: var(--white-color);
    border: var(--red-border);
}

.top-navbar__btn--upload:hover {
    background-color: transparent;
}
