.authform-container {
    width: 40%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-header {
    width: 100%;
    text-align: center;
    font-weight: var(--font-normal-weight);
    font-family: Main;
}

.error-container {
    border: var(--red-border);
    height: 40px;
    width: 100%;
    background-color: var(--white-color);
    text-align: center;
    line-height: 40px;
    color: var(--red-color);
    margin-bottom: 30px;
    margin-top: 30px;
}

.input-group {
    width: 100%;
    margin: 30px 0;
}

.auth-input {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    background: transparent !important;
    color: var(--white-color) !important;
    border: var(--white-border);
    font-family: Main;
}

.auth-input::placeholder {
    color: var(--white-color);
}

.auth-input:focus {
    background: transparent !important;
    border: var(--white-border);
    outline: none;
}

.red-border {
    border: var(--red-border);
}

.auth-btn {
    color: var(--white-color) !important;
    border: var(--white-border) !important;
    width: 30%;
    height: 40px;
    font-weight: var(--font-normal-weight);
    transition: color 200ms, background-color 250ms;
}

.auth-btn:hover {
    color: var(--red-color) !important;
    border: var(--red-border) !important;
}