.auth-form-group {
    width: 100%;
    margin: 30px 0;
}

.auth-input-container {
    height: 70px;
}

.auth-input {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    background: transparent !important;
    color: var(--white-color) !important;
    border: var(--white-border) !important;
    font-family: Main;
}

.auth-input-container .akramfit-input input {
    color: var(--white-color) !important;
    caret-color: var(--white-color);
}

.auth-input::placeholder {
    color: var(--white-color);
}

.auth-input:focus {
    background: transparent !important;
    border-color: var(--white-color);
    outline: none;
}

.auth-input:-webkit-autofill,
.auth-input:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: var(--white-color) !important;
}

.auth-input.red-border,
.auth-input.red-border:focus {
    background: transparent !important;
    border: var(--red-border) !important;
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;;
    width: 100%;
    height: 40px;
    margin: 20px 0;
    line-height: 40px;
    text-align: center;
    color: var(--red-color);
    border: var(--red-border);
}
.auth-input:focus,
.auth-input.red-border:focus,
.auth-input-container .akramfit-input input:focus,
.auth-input-container .akramfit-input__input:focus {
    outline: none !important;
    box-shadow: none !important;
}
.auth-input::selection,
.auth-input::-moz-selection {
    background: transparent !important;
}

.auth-input:-webkit-autofill,
.auth-input:-webkit-autofill:focus,
.auth-input:-webkit-autofill:hover,
.auth-input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--white-color) !important;
    transition: background-color 5000s ease-in-out 0s;
}
