.navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 100%;

    --navbar-icon-size: 3.15vh;
    --navbar-icon-underline-color: var(--red-color);
}

.navbar__icon-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: var(--navbar-icon-size);
}

.navbar__icon-group:first-child {
    margin-top: var(--navbar-icon-size);
    justify-content: flex-start;
}

.navbar__icon-group:last-child {
    margin-bottom: var(--navbar-icon-size);
    justify-content: flex-end;
}

.navbar__logo-icon-container,
.navbar__top-icon-container,
.navbar__icon-container {
    width: 100%;
    height: 5.5vh;
    font-size: var(--font-second-size);
    cursor: pointer;
    transition: background-color 450ms;
}

.navbar__logo-icon-container:hover,
.navbar__top-icon-container:hover,
.navbar__icon-container:hover {
    background-color: rgba(14, 62, 160, 0.5);
}

.navbar__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__icon {
    max-width: 100%;
    max-height: 100%;
    width: calc(var(--navbar-icon-size) * 1);
    height: auto;
}

.navbar__icon-container svg path,
.navbar__top-icon-container svg path {
    fill: var(--white-color);
    transition: fill 350ms;
}

.navbar__active-style {
    color: black;
    position: relative;
}

.navbar__active-style svg path {
    fill: var(--white-color);
}

.navbar__active-style::after {
    content: "";
    background-color: var(--red-color);
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}