/* Block */
.akramfit-rating-scale {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Elements */
.akramfit-rating-scale__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.akramfit-rating-scale__container {
    position: relative;
    width: 100%;
}

.akramfit-rating-scale__lines {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 4px;
}

.akramfit-rating-scale__line {
    position: absolute;
    height: 6px;
    background-color: var(--light-grey-color);
    top: 13px;
    z-index: -1;
}

.akramfit-rating-scale__line--active {
    background-color: var(--red-color);
}

.akramfit-rating-scale__points {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.akramfit-rating-scale__point {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    z-index: 0;
    position: relative;
    background-color: var(--light-grey-color);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.akramfit-rating-scale__point--active {
    background-color: var(--red-color);
}

.akramfit-rating-scale__point:hover {
    opacity: 0.8;
}

/* Modifiers */
.akramfit-rating-scale--disabled .akramfit-rating-scale__point {
    cursor: not-allowed;
    opacity: 0.6;
}

.akramfit-rating-scale--disabled .akramfit-rating-scale__point:hover {
    opacity: 0.6;
}
