.user-placeholder-container{
    width: 100%;
    min-width: 100%;
    height: auto;
    gap:var(--form-gap);
    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items:center
}

.placeholder-item{
    justify-content:start;
    width: 100%;
    display: flex;
    flex-direction: column;
}